.chat-side
  .chat-side__group-list
    .chat-side__group-list__user
      .chat-side__group-list__user--username
        = current_user.name
      .chat-side__group-list__user--icons
        =link_to "#", class: "chat-side__group-list__user--icons--new-group" do
          = icon('fas', 'pen-square', class: 'icon')
        =link_to "edit_user_path(current_user)", class: "chat-side__group-list__user--icons--setting" do
          = icon('fas', 'cog', class: 'icon')
  .groups
    .groups__group
      .groups__group--group-name
        techcamp
      .groups__group--latest-message
        hello
    .groups__group
      .groups__group--group-name
        techcamp
      .groups__group--latest-message
        hello