.side-bar
  .side-bar__group-list
    .side-bar__group-list__user
      .side-bar__group-list__user--username
        masa
      .side-bar__group-list__user--icons
        =link_to "#", class: "side-bar__group-list__user--icons--new-group" do
          = icon('fas', 'edit')
        =link_to "#", class: "side-bar__group-list__user--icons--setting" do
          = icon('fas', 'cog')
  .groups
    .groups__group
      .groups__group--group-name
        techcamp
      .groups__group--latest-message
        hello
    .groups__group
      .groups__group--group-name
        techcamp
      .groups__group--latest-message
        hello