.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__group-name
        test
      .main-header__left-box__commenter
        aaa
    =link_to "#", class: "main-header__editer" do
      Edit
  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker
          aaaa
        %p.message__upper-info__date
          2019/12/05
      %p.message__text
        コメント
    .message
      .message__upper-info
        %p.message__upper-info__talker
          aaaa
        %p.message__upper-info__date
          2019/12/05
      %p.message__text
        コメント
  .form
    %form{action: "/",class:"new-message",  method: "post"}
      %input{name:"utf8", type:"hidden", value:"✓"}
      .new-message__input-box
        %input{type: "text",placeholder:"type a message", class:"new-message__input-box__text"}
        %label.new-message__input-box__image
          %i{class: "far fa-image"}
          %input{type:"file",class:"new-message__input-box__image__file"}
      %input{type:"submit", name:"commit", value:"Send", class:"new-message__submit"}
      